<div class="container">
<!-- 1) RESEARCH QUESTIONS -->
<div>
  <h2>RESEARCH QUESTIONS</h2>

  <p>
    This website is the research process behind the year-long research project with the question - What can artists do
    with data? What is art in an authoritarian state ?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, amet. Blanditiis ipsum doloremque nemo dolorum
    earum, dicta velit esse dolorem.
  </p>
</div>


<!-- 2) ANCHORS -->
<div>
  <h2>ANCHORS</h2>

  <h3>g0v</h3>
  <p>
    भारत में मीडिया की शुरुआत प्रिंट संस्कृति से हुई और धीरे-धीरे
    रेडियो, टेलीविजन और इंटरनेट ने इसे बदल दिया।
  </p>

  <h3>Hacker culture / Media arts
  </h3>
  <p>
    पत्रकारिता पहले तथ्य आधारित रिपोर्टिंग मानी जाती थी, लेकिन
    आज TRP और digital engagement ने priorities बदल दी हैं।
  </p>

  <h3>Zuleikha’s TMV
  </h3>
  <p>
    युवा वर्ग ने परंपरागत समाचार माध्यमों की बजाय डिजिटल प्लेटफॉर्म पर
    भरोसा बढ़ाया है, जहाँ समाचार तेज़ और interactive मिलते हैं।
  </p>

  <h3>Bodies Machines Publics </h3>
  <p>
    बड़े कॉरपोरेट और राजनीतिक हित मीडिया narratives को
    प्रभावित करते हैं, जिससे सामग्री की विश्वसनीयता पर सवाल उठते हैं।
  </p>
</div>


<!-- 3) CONTENT -->
<div>
  <h2>CONTENT</h2>

  <h3>Research at Wildfire
    Jan 2025- onwards
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, vitae enim in unde minus officia autem ut nihil dicta
    dolor.
  </p>

  <h3>Workshop at MAP</h3>
  <p>
    Proposal : Title - The human in the data, the data in the human
    Sunday, 22nd, 11-4 (with a one hour break at 1)
    The idea of this workshop is to develop conceptual and practical tools for artists and others interested in working
    with both large and small datasets. Through methods of collective thinking and role-based exercises, we will play
    out a high-stakes techno-political scenario from multiple perspectives—algorithmic, institutional, ecological, and
    embodied. The workshop will encourage participants to examine data at multiple scales—microscopic and telescopic—and
    across different temporalities. Together, we will explore how art practices can intervene in, visualize, or
    reimagine the structures and implications of data systems.

    The main-takeaways of the workshop will be -
    The hands-on experience of using open source data tools as easily as we use google docs or excel sheets as ways of
    listening to data.
    Ways of collective thinking like LARPs, and war rooms that allow us to take positions different from ourselves and
    to actively respond to propositions and hypothetical situations.
    Using the case study of Taiwan and its g0v movements, and looking at a different logic to a tech-enabled democracy.

  </p>

  <h3>Performance with Marcel
  </h3>
  <p>
    „Experiments with Violence“ is a performative experiment by Kaldi Moss and Cello Valenta. In addition to the two
    performers, a chainsaw and six wooden chairs will also be performing. While one performer rearranges the chairs,
    possibly destroying them with the chainsaw, the other responds acoustically using a laptop. A few people are invited
    (including a photographer documenting the process) to join this performative conversation at any time and stay for
    as long as they wish. The experiment will start at around 4 pm on 14th June 2025 in the Project Space at Khoj (and
    will end by 8 pm at the latest). For safety reasons, there will be a line on the floor that joining people are
    welcome to cross at their own risk.

    In „Experiments with Violence“ Kaldi Moss and Cello Valenta explore changing power structures in an increasingly
    authoritarian and violent world. Being confronted with diffuse fears and individual attempts of liberation, the two
    performers explore their relationship towards the world and ask: What does liberty feel like?

    This artistic research focuses on the relationship between humans and technology, and the creative and destructive
    potential of tools. The central part of the experimental set-up is a chainsaw. In addition, several wooden chairs
    are placed in the room and will be constantly rearranged. In this ever-changing constellation, power relations are
    sensually reflected while the potentiality of the chainsaw is explored; not knowing if and when the moment of
    destruction has come.


  </p>

  <h3>Bodies Machines Publics
  </h3>
  <p>

    “In philosophical terms, all signals have the same flat ontological importance; what’s important is not what they
    are, but what an operator can do with them.” - Graham Wakefield. “Generating Sound & Organizing Time: Thinking with
    gen~ Book 1”

    The same can be said about data. All data has the same flat ontological importance. What’s important is what can be
    done with it. I am in search of tools that can sense the digital world, interpret it, and tune it - the sickle and
    hammer of the technological age. Tools that are held by us - not subject to service or subscription. Simple tools.

    In the pluralistic context of India, Pakistan, Bangladesh, Taiwan, Japan, Iran - where we live in parallel, we live
    multiple lives, in a collective chaos - where the experience is created and consumed at scale and complexity - how
    can we think of society, community, collectivity, government, democracy, and technology? Who are we as data? And who
    do we want to be? What agency can we have with our mediatic selves? The power of creating experiences and
    experiencing experiences is not where the buck stops. How does one get power to affect reality?

    Authoritarianism emerged from a certain form of social media in the West and India. A different kind of
    participatory democratic model has emerged in Taiwan, and the firewall of China has produced a digital border
    concurrent with political borders, within which it has produced its internal logic of self and the digital.

  </p>
</div>


<!-- 4) RESEARCH TRIP -->
<div>
  <h2>Research Trip to Patna : What is the media landscape like ?
  </h2>

  <h3>Interview with Raju
  </h3>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, quibusdam.
  </p>

  <h3>Interview with teen tara</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, rem.
  </p>

  <h3>The AI generated party music l</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, unde.
  </p>

  <h3>Bhojpuri cinema and its relationship to politics
  </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolorem!।
  </p>

 <h3>Videos</h3>
  <iframe width="420" height="236" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
    allowfullscreen></iframe>
</div>


<!-- 5) COLLABORATIONS -->
<div>
  <h2>Collaborations</h2>

  <h3>Akshay Madan - soft tech </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deserunt ad obcaecati, illo blanditiis a.
  </p>

  <h3>Neha - soft tech</h3>
  <p>
    lorem15
  </p>

  <h3>Zanskar - writing </h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sequi eligendi harum sit consectetur quisquam.
  </p>
</div>


<!-- 6) ACKNOWLEDGEMENT -->
<div>
  <h2>Acknowledgement</h2>

  <ul>
    <li>Piyush
    </li>
    <li>Saloni
    </li>
    <li>Nirmohi </li>
    <li>Raju
    </li>
  </ul>
</div>
</div>

{{outlet}}